#eighthPage
{
    padding-top: 5rem;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    height: 100vh;
}

#eighthPage .top
{
    display: flex;
    align-items: center;
}

#eighthPage h3
{
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    flex: 2;
}

.subjectTiles
{
    display: flex;
}

.subs
{
    flex: 1;
    padding:2rem;
    margin: 1.5rem;
    background-color: #2D2D77;
    border-radius: 10px;
}

.web
{
    height: 20%;
    width: 20%;   
    margin-bottom: 2rem;
    
}

.android
{
    height: 20%;
    width: 32%;
    margin-bottom: 2rem;
}

.machine
{
    height: 20%;
    width: 32%;
    color: white;
    margin-bottom: 2rem;
}

.subs h4
{
    margin-bottom: 1rem;
}

@media(max-width:480px){
    #eighthPage
{
    margin: 2%;
    margin-top: 70%;
}
.subs{
    width: 300px;
}
}