#fifthPage
{
    padding-top: 5rem;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    height: 100vh;
}

#fifthPage .top
{
    display: flex;
    align-items: center;
}

#fifthPage h3
{
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    flex: 2;
}

.subjectTiles
{
    display: flex;
}

.subs
{
    flex: 1;
    padding:2rem;
    margin: 1.5rem;
    background-color: #2D2D77;
    border-radius: 10px;
}

.c
{
    height: 20%;
    width: 25%;   
    margin-bottom: 1rem;
    
}

.cpp
{
        height: 20%;
        width: 25%;
    margin-bottom: 1rem;
}

.python
{
    height: 20%;
    width: 70%;
    margin-bottom:1rem;
}

.subs h4
{
    margin-bottom: 1rem;
}



.footC button
{
    background-color: transparent;
    border : 4px solid #e6797c;
    padding: 7px;
    border-radius: 20px;
    font-style: italic;
    font-size: 10px;
}

.priceC
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.originalC
{
    color: #a9a8a8;
    text-decoration: line-through;
    opacity: .6;
    margin-right: 5px;
}

.newC
{
    color: #e6797c;
    margin-right: 5px;
}

.discountC
{
    color: greenyellow;
    font-weight: 700;
    font-size: large;
}










@media(max-width:480px){
    #fifthPage{
        display: block;
        margin: 1.3%;
        margin-top: 150%;
    }
    .top{
        display: block;
    }
    .subjectTiles
{
    /* display: block; */
    flex-direction: column;
}
.subs{
    width: 300px;
}
}