#thirdPage
{
    
    padding-top: 5rem;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    display: flex;
    height: 100vh;
}

.left, .right
{
    flex: 1;
}

#thirdPage .left img
{
    height: 110%;
    width: 110%;
}


#thirdPage .right .arrowdown
{
    margin-top: -40%;
}


#thirdPage .right h1
{
    font-weight: 100;
    font-size: 65px;
    margin-bottom: 2rem;
}

@media only screen and (max-width:480px){
    #thirdPage{
        flex-direction: column;
    }
    #thirdPage .right .whoarewe h1{
        font-size: xx-large;
    }
    #thirdPage .left img
{
    height: 350px;
    width: 300px;
}
}